<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<a href="#"><img src="/assets/images/logo.png"/></a>
			</div>
			
			<ul class="list-unstyled components">
				<li class="active">
					<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
						<i class="glyphicon glyphicon-home faa-pulse animated"></i>
						Home
					</a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li><a href="admin/dashboard">Home 1</a></li>
						
					</ul>
				</li>
				<li>
					<a href="admin/dashboard">
						<i class="glyphicon glyphicon-briefcase faa-pulse animated"></i>
						About
					</a>
					
					
					<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
						<i class="glyphicon glyphicon-duplicate"></i>
						Post
					</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li><a href="admin/create_post">Create Post</a></li>
						<li><a href="admin/all_post">Post List</a></li>
						
					</ul>
					
					<a href="#pageSubmenuProduct" data-toggle="collapse" aria-expanded="false">
						<i class="glyphicon glyphicon-duplicate"></i>
						Product
					</a>
					<ul class="collapse list-unstyled" id="pageSubmenuProduct">
						<li><a href="admin/product">Create Product</a></li>
						<li><a href="admin/all_product">Product List</a></li>
						
					</ul>
				</li>
				<li>
					<a href="admin/dashboard">
						<i class="glyphicon glyphicon-link faa-pulse animated"></i>
						Portfolio
					</a>
				</li>
				<li>
					<a href="admin/dashboard">
						<i class="glyphicon glyphicon-paperclip faa-pulse animated"></i>
						FAQ
					</a>
				</li>
				<li>
					<a href="admin/dashboard">
						<i class="glyphicon glyphicon-send faa-pulse animated"></i>
						Contact
					</a>
				</li>
			</ul>
		</nav>