<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
							<i class="glyphicon glyphicon-align-left faa-pulse animated"></i>
						</button>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
			
			<div class="container-fluid">
				<div class="content_bg">
					<div class="row">
						<div class="col-sm-12">
							<div class="container" >
							  <h1>Create Product</h1>
							  <div class="row">
								<div class="col-md-6">
								  <form (ngSubmit)="saveProduct()" #productForm="ngForm" enctype="multipart/form-data">
									
									<div class="form-group">
									  <label for="name">Part Name</label>
									  <input type="text" class="form-control" [(ngModel)]="postdata.part_name" name="title" required>
									</div>
									<div class="form-group">
									  <label for="name">Description</label>
									  <textarea  class="form-control" [(ngModel)]="postdata.description" name="author" required></textarea>
									</div>
									
									<div class="form-group">
									  <label for="name">Production Capacity</label>
									  <input type="text" class="form-control" [(ngModel)]="postdata.capacity" name="capacity" required>
									</div>
									<div class="form-group">
									  <label for="name">Production Image</label>
									<!-- <input (change)="onFileChanged($event)" type="file" id="avatar"  placeholder="Upload file..." />-->
									<input type="file" accept="image/*" (change)="changeListener($event)">
									</div>
									<div class="form-group">
									  <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Save</button>
									</div>
								  </form>
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			
			
			
			
			