<a href="#" class="scrollup" style="display: none;"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">©2018 Goshi India Auto Parts PVT. LTD. All rights reserved.</div>
			</div>
		</div>
	</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    
	<script>	
		(function(){
		  $('#globalPresence').carousel({ interval: 3000 });
		}());

		(function(){
		  $('#globalPresence .PIC').each(function(){
			var itemToClone = $(this);

			for (var i=1;i<6;i++) {
			  itemToClone = itemToClone.next();
			  if (!itemToClone.length) {
				itemToClone = $(this).siblings(':first');
			  }
			  itemToClone.children(':first-child').clone()
				.addClass("cloneditem-"+(i))
				.appendTo($(this));
			}
		  });
		}());
		
		/*ourProduct*/
		(function(){
		  $('#ourProduct').carousel({ interval: 2500 });
		}());

		(function(){
		  $('#ourProduct .PIC').each(function(){
			var itemToClone = $(this);

			for (var i=1;i<6;i++) {
			  itemToClone = itemToClone.next();
			  if (!itemToClone.length) {
				itemToClone = $(this).siblings(':first');
			  }
			  itemToClone.children(':first-child').clone()
				.addClass("cloneditem-"+(i))
				.appendTo($(this));
			}
		  });
		}());
		
		
		$(document).ready(function(){ 	
			$('#myCarousel').carousel()
			$(window).scroll(function(){
				if ($(this).scrollTop() > 100) {
					$('.scrollup').fadeIn();
				} else {
					$('.scrollup').fadeOut();
				}
			}); 
			
			$('.scrollup').click(function(){
				$("html, body").animate({ scrollTop: 0 }, 600);
				return false;
			});
		});
	</script>