<a href="#" class="scrollup" style="display: none;"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">©2018 Goshi India Auto Parts PVT. LTD. All rights reserved.</div>
			</div>
		</div>
	</footer>
	 <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
