<main role="main" class="container-fluid">
		<div class="section-one">
			<div class="row">
				<div class="col-sm-6 overview">
					<div class="overly">
						<h3>概要</h3>
							<p [innerHTML]="homecontentdata[0].jp_overview"></p>
						<!--<p>Goshi Indiaは、Bawalに製造工場を持つGoshi Giken Japanのグループ会社です。
Goshi Gikenは、7つの生産拠点、3つの日本<br/> 海外では4人。</p>-->
						<a href="/jp/about">More</a>
					</div>
				</div>
				<div class="col-sm-6 home-director">	
                    <div class="content certification">
						<div id="editorcontentdata" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
							   <div  class="item" *ngFor="let item5 of home.editorcontentdata; let i = index" id="editorcontentdatadiv{{i}}">
							      <img src="{{item5.productimage}}" alt="Los Angeles" style="width:100%;max-height: 400px;">
							   </div>
								
							</div>
							<a class="left carousel-control" href="#editorcontentdata" data-slide="prev">
							  <i class="fa fa-chevron-left" aria-hidden="true"></i>
							</a>
							<a class="right carousel-control" href="#editorcontentdata" data-slide="next">
							  <i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
						</div>
					</div>				
					<!--<div class="overly">
						<div class="left-border">
							<h3>よしき まつばら、 Ｐれしでんｔ ＆ れｐれせんたちゔぇ ぢれｃとｒ</h3>
							<p>グローバルにトップクラスのモノづくりを誇る「ゴシエ技研グループ」は、お客様、特にホンダの製品アピールを高め、世界中のユーザーに楽しく乗り続けます。</p>
							<a href="/jp/about">More</a>
						</div>
					</div>-->
				</div>
			</div>
		</div>
		<div class="row carouselArea">
			<div class="col-md-12">
				<div class="section-title clearfix mt-15 mb-15">
					<h3 class="pull-left">グローバル展開</h3>
					<div class="pull-right carousel-navigation">
						<a class="left" href="#globalPresence" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
						<a class="right" href="#globalPresence" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
					</div>
				</div>			
			</div>
			<div class="col-md-12">
				<div class="carousel carousel-showsixmoveone slide" id="globalPresence">
					<div class="carousel-inner">
						
						<div class="item PIC" *ngFor="let item of home.globalpresencedata; let i = index" id="globalpresencedatadiv{{i}}">
						     <div class="col-xs-12 col-sm-4 col-md-2">
								<a href="{{item.url}}" target="_blank">
									<div class="hovereffect">
										<img src="{{item.productimage}}" class="img-responsive"/>
										<div class="overlay">
											<div class="description clearfix"><span class="title">{{item.jp_description}}</span></div>
											<div class="description clearfix"><span class="title">Country </span><span class="content">{{item.jp_country}}</span></div>
										</div>
									</div>
								</a>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</main>
	<div class="section-two">
		<div class="overlay">
			<div class="container-fluid">
				<div class="row carouselArea">
					<div class="col-md-12">
						<div class="section-title clearfix mt-15 mb-15">
							<h3 class="pull-left">当社製品</h3>
							<div class="pull-right carousel-navigation">
								<a class="left" href="#ourProduct" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
								<a class="right" href="#ourProduct" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
							</div>
						</div>			
					</div>
					<div class="col-md-12">
						<div class="carousel carousel-showsixmoveone slide" id="ourProduct">
							<div class="carousel-inner">
								<div  class="item PIC " *ngFor="let item2 of home.product; let i = index"  id="productdiv{{i}}"> 
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="hovereffect">
											<img src="{{item2.productimage}}" class="img-responsive"/>
											<div class="overlay">
												<div class="description clearfix"><span class="title">Parts Name</span><span class="content">{{item2.jp_part_name}}</span></div>
												<div class="description clearfix"><span class="title">Description</span><span class="content">{{item2.jp_description}}</span></div>
												<div class="description clearfix"><span class="title">Production Capacity</span><span class="content"> {{item2.jp_capacity}}</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-three">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<h3 class="title">証明・認定情報</h3>
					<div class="content certification">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
							     <div  class="item " *ngFor="let item5 of home.certificatedata; let i = index"  id="certificationsdiv{{i}}">
							      <img src="{{item5.productimage}}" alt="Los Angeles" style="width:100%;">
							   </div>
								<!--<div class="item active">
									<img src="/assets/images/c3.jpg" alt="Los Angeles" style="width:100%;">
								</div>
								<div class="item">
									<img src="/assets/images/c2.jpg" alt="Chicago" style="width:100%;">
								</div>
								<div class="item">
									<img src="/assets/images/c1.jpg" alt="New york" style="width:100%;">
								</div>-->
							</div>
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							  <i class="fa fa-chevron-left" aria-hidden="true"></i>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
							  <i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h3 class="title">表彰</h3>
					<div class="content achievement">
						<div class="row">
						 <div class="col-sm-6 mb-20" *ngFor="let item3 of home.achivementdata; let i = index"><img src="{{item3.productimage}}" class="img-responsive"/></div>
							
							<!--<div class="col-sm-6 mb-20"><img src="/assets/images/w1.png" class="img-responsive"/></div>
							<div class="col-sm-6 mb-20"><img src="/assets/images/w2.png" class="img-responsive"/></div>
							<div class="col-sm-6"><img src="/assets/images/w3.png" class="img-responsive"/></div>
							<div class="col-sm-6"><img src="/assets/images/w4.png" class="img-responsive"/></div>-->
						</div>
					</div>
				</div>
				<div class="col-sm-12 mt-20">
					<h3 class="title">主な納入先</h3>
					<div class="content">
						<div class="customers clearfix">
						    <img *ngFor="let item4 of home.customerdata; let i = index" src="{{item4.productimage}}" class="img-responsive"/>
							<!--<img src="/assets/images/cus1.png" class="img-responsive"/>
							<img src="/assets/images/cus3.png" class="img-responsive" style="width: 36% !important;margin-top: 11px;"/>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-four">
		<div class="overlay">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12"></div>
				</div>
			</div>
		</div>
	</div>