<link href="/assets/css/admin/css/common.css" rel="stylesheet">
<link href="/assets/css/admin/css/style.css" rel="stylesheet">
<!--<<div class="header">
app-app-header></app-app-header>
</div>
 

<router-outlet></router-outlet>

 
<footer>
    <!--<layout-footer></layout-footer>
	<app-admin-footer></app-admin-footer>
</footer>-->

<!--<div class="login_page row m-0">
		<div class="login_header"><img src="/assets/images/logo.png"/></div>
		
		<router-outlet></router-outlet>
		<app-admin-footer></app-admin-footer>
	</div>-->

<app-admin-header></app-admin-header>
<div class="login_page row m-0">
		<div class="login_header"><img src="/assets/images/logo.png"/></div>
<router-outlet></router-outlet>

<app-admin-footer></app-admin-footer>
</div>
