    <video autoplay loop muted id="video_bg">
        <source src="/assets/images/video.mp4" type="video/mp4">
    </video>
	<div class="video_overly" [innerHTML]="homecontentdata[0].videotext">
		<!--<h3>Challenging for the Future</h3>
		<p>The Goshi India understands its role as a global company and continues to innovate into the future.</p>-->
	</div>

	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home"><img src="/assets/images/logo.png"  class="logo"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<a href="/home" class="navbar-right" style="display:none;"><img src="/assets/images/flag.png"  class="flag"/></a>
			<ul class="nav navbar-nav navbar-right">
				<!--<li class="active"><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="products">Product</a></li>			
				<li><a href="technology">Technology</a></li>
				<li><a href="careers">Human Resource</a></li>
				<li><a href="contact">Contact</a></li>-->
				<li [routerLinkActive]="'active'" ><a [routerLink]="['/home']" >Home</a></li>
				<li [routerLinkActive]="'active'"><a [routerLink]="['/about']">About us</a></li>
				<li [routerLinkActive]="'active'" ><a [routerLink]="['/products']">Product</a></li>			
				<li [routerLinkActive]="'active'"><a [routerLink]="['/technology']" >Technology</a></li>
				<li [routerLinkActive]="'active'"><a [routerLink]="['/careers']">Human Resource</a></li>
				<li [routerLinkActive]="'active'"><a [routerLink]="['/contact']">Contact</a></li>
				<li><a style="padding: 6px 0px;" href="/jp/home" class="flag"><img style="width: 50px;" src="/assets/images/flag.png" /></a></li>
				
	
			</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav> 