
    <!-- Bootstrap core CSS -->
    <link href="/assets/website/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/website/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="/assets/website/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/website/css/style.css" rel="stylesheet">
	
	<video autoplay loop muted id="video_bg">
        <source src="/assets/images/small.mp4" type="video/mp4">
    </video>
	<div class="video_overly">
		<h3>Challenging for the Future</h3>
		<p>The Goshi Giken Group understands its role as a global company and continues to innovate into the future.</p>
	</div>

	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png"  class="logo"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<a href="#" class="navbar-right" style="display:none;"><img src="/assets/images/flag.png"  class="flag"/></a>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Product 1</a></li>
						<li><a href="#">Product 2</a></li>
						<li><a href="#">Product 3</a></li>
						<li><a href="#">Product 4</a></li>
					</ul>
				</li>			
				<li><a href="#">Technology</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#" class="flag"><img src="/assets/images/flag.png" /></a></li>
			</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav> 